# Loading GeoTiffs

In [17]:
import starepandas
import rasterio
import numpy
import geopandas
import pyproj
import pystare

## Usage

In [18]:
file_path = '../tests/data/wind.tif'

In [22]:
sdf = starepandas.read_geotiff(file_path, add_pts=True, add_latlon=True, 
                               add_xy=True, add_trixels=True)

In [23]:
sdf

,band_1,lon,lat,x,y,geometry,sids,trixels
0,6.272615,-120.650058,34.972663,4,1,POINT (-120.65006 34.97266),3331746293595969199,"POLYGON ((-120.64893 34.97246, -120.65251 34.9..."
1,6.252211,-120.647318,34.972678,5,1,POINT (-120.64732 34.97268),3331745340069319375,"POLYGON ((-120.64893 34.97246, -120.64535 34.9..."
2,6.258501,-120.650039,34.970411,4,2,POINT (-120.65004 34.97041),3331746259443112015,"POLYGON ((-120.64893 34.97246, -120.65378 34.9..."
3,6.258501,-120.647300,34.970426,5,2,POINT (-120.64730 34.97043),3331745271579949615,"POLYGON ((-120.64893 34.97246, -120.65020 34.9..."
4,6.232330,-120.644560,34.970442,6,2,POINT (-120.64456 34.97044),3331745341877499695,"POLYGON ((-120.64050 34.97117, -120.64408 34.9..."
...,...,...,...,...,...,...,...,...
88,5.839790,-120.622516,34.954801,14,9,POINT (-120.62252 34.95480),3331745323129218159,"POLYGON ((-120.62028 34.95311, -120.61901 34.9..."
89,5.825665,-120.619777,34.954815,15,9,POINT (-120.61978 34.95482),3331745322842829231,"POLYGON ((-120.62028 34.95311, -120.61901 34.9..."
90,5.817735,-120.617038,34.954830,16,9,POINT (-120.61704 34.95483),3331745305821847439,"POLYGON ((-120.62028 34.95311, -120.61543 34.9..."
91,5.817735,-120.614299,34.954845,17,9,POINT (-120.61430 34.95484),3331745306553027855,"POLYGON ((-120.61059 34.95536, -120.61417 34.9..."
92,5.815444,-120.611560,34.954859,18,9,POINT (-120.61156 34.95486),3331745573111838703,"POLYGON ((-120.61059 34.95536, -120.61543 34.9..."

## Detail:

This is a geotiff containing average wind speeds in Santa Barbara county. It is projected in California Albers (EPSG:3310).
Note that the raster is clipped to the county outline, thus containing NaNs

In [21]:
with rasterio.open(file_path) as src:
    values = {}
    for band in range(1, src.count+1):        
        values[f'band_{band}'] = src.read(band)
    height = values['band_1'].shape[0]
    width = values['band_1'].shape[1]    
    cols, rows = numpy.meshgrid(numpy.arange(width), numpy.arange(height))
    xs, ys = rasterio.transform.xy(src.transform, rows, cols)
    xs = numpy.array(xs)
    ys = numpy.array(ys)
    src_crs = src.crs
    mask =

In [24]:
dst_crs = 'EPSG:4326'
transformer = pyproj.Transformer.from_crs(src_crs, dst_crs)
lats, lons = transformer.transform(xs, ys)
sids = pystare.from_latlon_2d(lats, lons, adapt_level=True)

In [17]:
for key in values:
    values[key] = values[key].flatten()

In [19]:
pts = geopandas.points_from_xy(lons.flatten(), lats.flatten())
gdf = geopandas.GeoDataFrame(values, geometry=pts, crs=dst_crs)
gdf = starepandas.STAREDataFrame(gdf, sids=sids.flatten())
gdf.dropna(inplace=True)
gdf.reset_index(inplace=True, drop=True)

In [20]:
gdf.to_file('wind.gpkg', driver='GPKG')

In [21]:
gdf

          band_1                     geometry                 sids
0       5.663013  POINT (-120.10227 35.11179)  3331805789998083439
1       5.951427  POINT (-120.09952 35.11180)  3331806038636011599
2       5.996681  POINT (-120.09403 35.11180)  3331806067856073871
3       6.070150  POINT (-120.09129 35.11180)  3331806068042513903
4       6.267935  POINT (-120.08854 35.11180)  3331806068981832655
...          ...                          ...                  ...
105754  2.487919  POINT (-119.47862 34.38096)  3331781606735464335
105755  2.377520  POINT (-119.47590 34.38094)  3331781546799927631
105756  2.511101  POINT (-119.47863 34.37870)  3331781608685226255
105757  2.365220  POINT (-119.47591 34.37869)  3331781608519480815
105758  2.599790  POINT (-119.47594 34.37419)  3331781615279864207

[105759 rows x 3 columns]