# Read VIIRS data

VNP09 does not contain geolocation. 
- 750 m resolution needs to be read from VNP03MOD
- 375 m resolution needs to be read from VNP03IMG
We need a double de-referencing when we read. First, guess the VNP03* companion, then guess the sidecar_companion

In [1]:
import starepandas

In [3]:
fname = '../tests/data/granules/viirs/VNP09.A2022308.1930.001.2022309070407.hdf'
df = starepandas.io.granules.viirsl2.read_vnp09(fname)

## VNP03*

In [4]:
fname = '../tests/data/granules/viirs/VNP03DNB.A2022308.1930.002.2022309041547.nc'
starepandas.read_granule(fname, sidecar=True)

,sids,moon_illumination_fraction,land_water_mask,quality_flag
0,3137561142633823918,85.949997,1,0
1,3137561078408066606,85.949997,1,0
2,3137561087065512846,85.949997,1,0
3,3137561301273480269,85.949997,1,0
4,3137561246710935662,85.949997,1,0
...,...,...,...,...
13134843,3249540701926414350,85.709999,3,0
13134844,3249540753406758478,85.709999,1,0
13134845,3249540731532554573,85.709999,2,0
13134846,3249541108125026062,85.709999,2,0
13134847,3249541114900546990,85.709999,0,0

In [5]:
fname = '../tests/data/granules/viirs/VNP03MOD.A2022308.1930.002.2022309041547.nc'
starepandas.read_granule(fname, sidecar=True)

,lat,lon,sids,land_water_mask,quality_flag,sensor_azimuth,sensor_zenith,solar_azimuth,solar_zenith
0,37.486004,-80.316040,3137565759324560396,1,0,-90.019997,70.070000,-140.229996,63.059998
1,37.485970,-80.340309,3137565612666218892,1,0,-90.040001,70.040001,-140.250000,63.049999
2,37.485947,-80.361679,3137565587134260044,1,0,-90.049995,70.000000,-140.270004,63.039997
3,37.485928,-80.377991,3137564869406841357,1,0,-90.059998,69.970001,-140.289993,63.029999
4,37.485893,-80.392365,3137558972663142157,1,0,-90.070000,69.939995,-140.300003,63.020000
...,...,...,...,...,...,...,...,...,...
10342395,51.107269,-127.535835,3251396909009386956,2,0,57.000000,69.970001,170.129990,67.169998
10342396,51.099239,-127.555397,3249540796346179405,2,0,56.980000,70.000000,170.110001,67.159996
10342397,51.090672,-127.576271,3249542703180803628,3,0,56.959999,70.029999,170.089996,67.150002
10342398,51.082298,-127.596649,3249542759025646573,2,0,56.949997,70.070000,170.069992,67.150002
10342399,51.073887,-127.617096,3249542750367291277,0,0,56.930000,70.099998,170.050003,67.139999

In [6]:
fname = '../tests/data/granules/viirs/VNP03IMG.A2022308.1930.002.2022309041547.nc'
starepandas.read_granule(fname, sidecar=True)

,lat,lon,sids,land_water_mask,quality_flag,sensor_azimuth,sensor_zenith,solar_azimuth,solar_zenith
0,37.482319,-80.308891,3137565371683152109,1,0,-90.000000,70.080002,-140.220001,63.059998
1,37.482311,-80.319565,3137565734641915565,1,0,-90.009995,70.070000,-140.229996,63.059998
2,37.482304,-80.331337,3137565622183553421,1,0,-90.019997,70.049995,-140.239990,63.049999
3,37.482292,-80.344215,3137565614907112397,1,0,-90.019997,70.029999,-140.259995,63.039997
4,37.482277,-80.356224,3137565573325798029,1,0,-90.029999,70.010002,-140.270004,63.039997
...,...,...,...,...,...,...,...,...,...
41369595,51.091671,-127.584557,3249542678471201421,2,0,56.969997,70.040001,170.080002,67.159996
41369596,51.087372,-127.595039,3249542619683957773,3,0,56.959999,70.059998,170.069992,67.150002
41369597,51.083241,-127.605080,3249542761007579534,3,0,56.959999,70.080002,170.059998,67.150002
41369598,51.079048,-127.615295,3249542756595258606,0,0,56.949997,70.089996,170.050003,67.150002
41369599,51.074844,-127.625504,3249542382209902030,0,0,56.939999,70.110001,170.039993,67.139999

## VNP02*