In [1]:
import starepandas

In [2]:
vnp03_name = 'data/VNP03DNB.A2020219.0742.001.2020219124651.nc'

In [3]:
# Option 1: bootstrap
#df = starepandas.read_granule(vnp03_name)

In [4]:
# Option 2: read sidecar
#df = starepandas.read_granule(vnp03_name, sidecar=True)

In [5]:
# Option 3: Manual
vnp03 = starepandas.VNP03DNB(vnp03_name)
vnp03.read_latlon()
vnp03.read_data()
df = vnp03.to_df()

# VNP02

In [13]:
vnp02_name = 'data/VNP02DNB.A2020219.0742.001.2020219125654.nc'

In [14]:
vnp02 = starepandas.read_granule(vnp02_name, sidecar=True, read_latlon=False, vnp03_folder='data/')

In [8]:
vnp02[(vnp02.land_water_mask==2) | (vnp02.land_water_mask==4) | (vnp02.land_water_mask==6) | (vnp02.land_water_mask==7)]

,stare,DNB_observations,DNB_quality_flags,moon_illumination_fraction,land_water_mask,quality_flag
267,3335718025880436398,3.503916e-09,16,92.790001,2,0
368,3335643101793213358,6.539059e-09,16,92.799995,2,0
369,3335642447744440494,7.083299e-09,16,92.799995,2,0
403,3335654049852113006,8.231430e-09,16,92.799995,2,0
883,3340600658750985230,2.414932e-09,16,92.820000,2,0
...,...,...,...,...,...,...
13134843,3103650510601485518,2.087984e-09,0,92.879997,7,0
13134844,3103650004646120718,1.579183e-09,0,92.879997,7,0
13134845,3103649894029237550,1.579183e-09,0,92.879997,7,0
13134846,3103649901631881006,2.393264e-09,0,92.879997,7,0
13134847,3103588018976222254,1.986224e-09,0,92.879997,7,0

# CLDMSK

In [9]:
cldmsk_name = 'data/CLDMSK_L2_VIIRS_SNPP.A2020219.0742.001.2020219190616.nc'

In [10]:
cldmsk = starepandas.CLDMSK_L2_VIIRS(cldmsk_name)

In [11]:
cldmsk.read_latlon()
cldmsk.read_data()
cldmsk.to_df()

                lat         lon  Integer_Cloud_Mask
0         41.747662 -104.969498                   3
1         41.747696 -104.950218                   3
2         41.747730 -104.930237                   3
3         41.747761 -104.910843                   3
4         41.747784 -104.891747                   3
...             ...         ...                 ...
10342395  16.522247  -78.595093                   2
10342396  16.518646  -78.580162                   1
10342397  16.515034  -78.565208                   0
10342398  16.511414  -78.550224                   1
10342399  16.507788  -78.535187                   1

[10342400 rows x 3 columns]